body{
    background-image: url(img/tennis_court.jpg); 
    background-size: cover; 
    background-attachment: fixed;
    color:white;
}
table, td, th{      
    border: 2px yellow solid;

}
th, td {padding: 10px;
text-align: center;
}

tr:nth-child(even) {
    background-color: white;
    color: black;
}